body {
  font-family: "Open Sans";
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}

.sub-heading {
  font-size: 11px;
}

.entry {
  background-color: #ffffbb;
  margin-top: 5%;
}

.navigation {
  margin-top: 2.5%;
  font-size: 11px;
  color: #aaa;
}

.loading-spinner {
  color: #aaa;
}

.like {
  color: red;
}

.like:hover {
  color: #aaa;
  cursor: pointer;
}

.dislike {
  color: black;
}

.dislike:hover {
  color: #aaa;
  cursor: pointer;
}

.interaction-value {
  font-family: "Open Sans";
}

.buttons {
  margin-bottom: 5px;
}

.message {
  background-color: #ddffff;
  padding: 2.5px;
}
